<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.glkj.webchat.dao.IUserDao">

	<resultMap id="BaseResultMap"
		type="com.glkj.webchat.pojo.User">
		<id column="USERID" property="userid" jdbcType="VARCHAR" />
		<result column="PASSWORD" property="password"
			jdbcType="VARCHAR" />
		<result column="NICKNAME" property="nickname"
			jdbcType="VARCHAR" />
		<result column="SEX" property="sex" jdbcType="INTEGER" />
		<result column="AGE" property="age" jdbcType="INTEGER" />
		<result column="PROFILEHEAD" property="profilehead"
			jdbcType="VARCHAR" />
		<result column="PROFILE" property="profile" jdbcType="VARCHAR" />
		<result column="FIRSTTIME" property="firsttime"
			jdbcType="VARCHAR" />
		<result column="LASTTIME" property="lasttime"
			jdbcType="VARCHAR" />
		<result column="STATUS" property="status" jdbcType="INTEGER" />
		<result column="IP" property="ip" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		USERID, PASSWORD, NICKNAME, SEX, AGE, PROFILEHEAD, PROFILE, FIRSTTIME,
		LASTTIME, STATUS,IP
	</sql>

	<!-- 查询所有用户 -->
	<select id="selectAll" resultMap="BaseResultMap">
		SELECT USERID, PASSWORD, NICKNAME, SEX, AGE, PROFILEHEAD, PROFILE,
		FIRSTTIME, LASTTIME, STATUS, IP FROM user
		ORDER BY FIRSTTIME
		LIMIT #{offset}, #{limit}
	</select>
	<select id="level" resultType="java.lang.Integer"
		parameterType="java.lang.String">
		SELECT level FROM USER WHERE USERID=#{userid,jdbcType=VARCHAR}
	</select>
	<!-- 根据用户id查询用户 -->
	<select id="selectUserByUserid" resultMap="BaseResultMap"
		parameterType="string">
		SELECT
		USERID, PASSWORD, NICKNAME, SEX, AGE, PROFILEHEAD, PROFILE, FIRSTTIME,
		LASTTIME, STATUS,IP,LEVEL
		FROM user
		WHERE USERID = #{userid, jdbcType=VARCHAR}
	</select>

	<!-- 根据用户id查询用户 -->
	<select id="selectCount" resultMap="BaseResultMap">
		SELECT COUNT(*) USERID
		FROM user
	</select>

	<!-- 插入用户 -->
	<insert id="insert"
		parameterType="com.glkj.webchat.pojo.User">
		INSERT INTO user (USERID, PASSWORD, NICKNAME, SEX, AGE, PROFILEHEAD,
		PROFILE, FIRSTTIME, LASTTIME, STATUS, IP,realname)
		VALUES (#{userid, jdbcType=VARCHAR}, #{password, jdbcType=VARCHAR},
		#{nickname, jdbcType=VARCHAR}, #{sex, jdbcType=INTEGER},
		#{age, jdbcType=INTEGER}, #{profilehead, jdbcType=VARCHAR}, #{profile,
		jdbcType=VARCHAR},
		#{firsttime, jdbcType=VARCHAR}, #{lasttime, jdbcType=VARCHAR}, #{status,
		jdbcType=INTEGER}, #{ip, jdbcType=VARCHAR},#{realname,jdbcType=VARCHAR})
	</insert>

	<!-- 更新用户 -->
	<update id="update"
		parameterType="com.glkj.webchat.pojo.User">
		UPDATE user
		<set>
			<if test="password != null and password != ''">
				PASSWORD = #{password, jdbcType=VARCHAR},
			</if>
			<if test="nickname != null and nickname != ''">
				NICKNAME = #{nickname, jdbcType=VARCHAR},
			</if>
			<if test="sex != null and sex != ''">
				SEX = #{sex, jdbcType=INTEGER},
			</if>
			<if test="age != null and age != ''">
				AGE = #{age, jdbcType=INTEGER},
			</if>
			<if test="level !=null and level != ''">
				level =#{level},
			</if>
			<if test="weixin!=null">
				weixin = #{weixin},
			</if>
			<if test="phone !=null">
				phone = #{phone},
			</if>
			<if test="enterStatus!=null">
				enter_status = #{enterStatus},
			</if>
			<if test="invitation!=null">
				invitation = #{invitation},
			</if>
			<if test="remarks!=null">
				remarks = #{remarks},
			</if>
			<if test="profilehead != null and profilehead != ''">
				PROFILEHEAD = #{profilehead, jdbcType=VARCHAR},
			</if>
			<if test="profile != null and profile != ''">
				PROFILE = #{profile, jdbcType=VARCHAR},
			</if>
			<if test="firsttime != null and firsttime != ''">
				FIRSTTIME = #{firsttime, jdbcType=VARCHAR},
			</if>
			<if test="lasttime != null and lasttime != ''">
				LASTTIME = #{lasttime, jdbcType=VARCHAR},
			</if>
			<if test="status != null and status != ''">
				STATUS = #{status, jdbcType=INTEGER},
			</if>
			<if test="ip != null and ip != ''">
				IP = #{ip, jdbcType=VARCHAR},
			</if>
			modified_time = #{modifiedTime},
			modified_user = #{modifiedUser}
		</set>
		WHERE USERID = #{userid, jdbcType=VARCHAR}
	</update>

	<!-- 删除用户 -->
	<delete id="delete" parameterType="string">
		DELETE FROM user
		WHERE USERID = #{userid, jdbcType=VARCHAR}
	</delete>

	<!-- 删除用户 -->
	<delete id="deleteLog" parameterType="string">
		DELETE FROM log
		WHERE USERID = #{userid, jdbcType=VARCHAR}
	</delete>

	<!-- 获取聊天内容 -->
	<select id="list" resultType="java.lang.String"
		parameterType="java.lang.Integer">
		select question from robot limit #{page},7200;
	</select>

	<!-- 根据userid查询用户 -->
	<select id="findUserByUserid" resultType="com.glkj.webchat.pojo.User" >
		SELECT
		userid,password,nickname,profilehead,status,
		level,weixin,phone,
		enter_status enterStatus,
		invitation,remarks,
		create_time createTime,
		create_user createUser,realname
		FROM
		user
		WHERE
		userid=#{userid}
	</select>

	<!--插入高级用户-->
	<insert id="insertSeniorMenber" parameterType="com.glkj.webchat.pojo.User">
		INSERT INTO user(
		userid,realname,password,nickname,sex,age,profilehead,status,
		level,phone,weixin,
		enter_status,invitation,
		create_time,create_user,profile)
		VALUES(
		#{userid},#{realname},#{password},#{nickname},#{sex},#{age},#{profilehead},#{status},
		#{level},#{phone},#{weixin},
		#{enterStatus},#{invitation},
		#{createTime},#{createUser},#{profile}
		);
	</insert>

	<select id="getRecordCountByQq" resultType="java.lang.Integer">
		SELECT
			COUNT(qq)
		FROM
			user
		WHERE
			qq=#{qq}
	</select>

	<select id="getRocordCountByWeixin" resultType="java.lang.Integer">
		SELECT
			COUNT(weixin)
		FROM
			user
		WHERE
			weixin=#{weixin}
	</select>

	<select id="getRocordCountByPhone" resultType="java.lang.Integer">
		SELECT
			COUNT(phone)
		FROM
			user
		WHERE
			phone=#{phone}
	</select>

	<!--展示未归属用户信息-->
	<select id="selectUserInfo" resultType="com.glkj.webchat.pojo.UserShow">
		SELECT
			userid,level,weixin,phone,enter_status,invitation,create_time createTime,create_user createUser
		FROM
			user
		WHERE
			level = 2 AND invitation LIKE '0';
	</select>

	<select id="selectUseShow" resultType="com.glkj.webchat.pojo.UserShow">
		SELECT
			userid,level,weixin,phone,enter_status,invitation,create_time createTime,create_user createUser
		FROM
			user
		WHERE
			userid LIKE #{userid};
	</select>

	<!--展示个人归属用户信息-->
	<select id="selectPrivateUser" resultType="com.glkj.webchat.pojo.UserShow">
		SELECT
			userid,level,weixin,remarks,phone,enter_status,invitation,create_time createTime,create_user createUser
		FROM
			user
		WHERE
			invitation = #{invitation};
	</select>

	<!--修改归属者-->
	<update id="updateInvitation">
		UPDATE
			user
		SET
			invitation = #{0}
		WHERE
			userid LIKE #{1};
	</update>

	<select id="selectCountByAdmin" resultType="integer">
		SELECT COUNT(username) FROM q_admins WHERE username = #{invitation}
	</select>

	<select id="selectUserCountByAdminId" resultType="integer">
		SELECT COUNT(invitation) FROM user WHERE invitation = #{userid}
	</select>

	<select id="findUserByProFile" resultType="string">
		SELECT userid FROM  user WHERE profile = #{code} AND status = 0
	</select>

    <update id="activeUserid" parameterType="string">
        UPDATE user SET status = 1 WHERE userid = #{userID}
    </update>

    <select id="findUserByEmail" resultType="integer">
        SELECT COUNT(email) FROM user WHERE email = #{email}
    </select>

    <select id="findUserByEmailAndProfile" resultType="integer">
        SELECT COUNT(userid) FROM user WHERE email = #{1} AND profile = #{0}
    </select>

    <update id="updatePassword" parameterType="string">
        UPDATE user SET password = #{0} WHERE email = #{1}
    </update>

    <update id="updateProfileByEmail" parameterType="string">
        UPDATE user SET profile=#{param1} WHERE email = #{param2}
    </update>

	<select id="findAdminByUserid" parameterType="string" resultType="com.glkj.webchat.pojo.Admins">
		SELECT
			id,username,password,level,profilehead,qq,weixin,phone,remarks,create_user AS createUser,
			create_time AS createTime,modified_user AS modifiedUser,modified_time AS modifiedTime
		FROM
			q_admins
		WHERE
			username=#{0}
	</select>
</mapper>